@import "colors.css";

@define-color accent #999999;
@define-color fg #ffffff;
@define-color fg-neg #000000;
@define-color bg #101010;
@define-color bg-alt #252525;

* {
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @bg;
    border-bottom: 1px solid @bg-alt;
}

#mode {
    font-family: "Iosevka";
    font-weight: bold;
    color: @accent;
}

#mpris,
#power-profiles-daemon,
#language,
#pulseaudio,
#battery,
#backlight,
#custom-clock {
    font-family: "Iosevka";
    color: @fg;
}

#workspaces {
    font-family: "Iosevka";
    border-bottom: 1px solid @bg-alt;
}

#workspaces button {
    padding: 7px 12px 7px 12px;
    color: @inverse_on_surface;
    border: none;
}

#workspaces button:hover {
    background: none;
    border: none;
    border-color: transparent;
    transition: none;
}

#workspaces button.focused {
    border-radius: 0;
    color: @primary;
    font-weight: bold;
    border-top: 1px solid @primary;
}

#tray {
    font-family: "Ubuntu";
    padding-right: 5px;
    padding-left: 10px;
}

#backlight {
    padding-right: 5px;
}
